VITE_SUPABASE_URL="https://sfksrtviboxnukhvkkdv.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNma3NydHZpYm94bnVraHZra2R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMjkyNTUsImV4cCI6MjA4ODgwNTI1NX0.OIG7Kb7Tk4bX_DDdRqJGKIPqpy4ScONeHVS6Su6buPQ"
