VITE_SUPABASE_URL=https://aeydqysbmluxtbjfftxf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFleWRxeXNibWx1eHRiamZmdHhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MTk3NjIsImV4cCI6MjA4OTM5NTc2Mn0.foz-vGSTHL3_GOd5GOanWHKPhvLe4gyqeHX8L8kP3r4
